# coding: utf-8

# 공통
nest_asyncio
pip-tools
streamlit

# flask 서버
flask
flask-cors
requests
python-dotenv
flasgger

# Bert 임베딩 기반 유사도 추정
torch
transformers
scikit-learn
sentence-transformers

# Generative AI
openai
google-genai>=0.1.0


# MySQL
mysql-connector-python

# 챗봇
pydantic
langchain
langchain-openai
langgraph
langchain-teddynote
langgraph-checkpoint-sqlite
langchain-community
langchain-weaviate
pymysql
sqlalchemy
weaviate-client

# 새로운 패키지
# package-name
