flask
flask-cors
requests
python-dotenv
pydantic
langchain
langchain-openai
langgraph
langchain-teddynote
langgraph-checkpoint-sqlite
nest_asyncio
langchain-community
mysql-connector-python
pymysql
sqlalchemy
faiss-cpu
pip-tools
streamlit