# coding: utf-8

# flask 서버
flask
flask-cors
requests
python-dotenv
flasgger

# Bert 임베딩 기반 유사도 추정
torch
transformers
scikit-learn

# Generative AI
openai

# OCR
paddleocr
paddlepaddle
# gpu 사용할 경우 해당 패키지 포함 
#paddlepaddle-gpu==2.5.0.post118

# MySQL
mysql-connector-python

# 새로운 패키지
# package-name


